# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx0bmNja2RxeW9udXl3YWh3amtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY1NDA4OTYsImV4cCI6MjA4MjExNjg5Nn0.qLqQdPzXmVu0syzG_Rd_SDIHMwIUcc7VurhPzK_tu94
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Database Connection (Direct)
DATABASE_URL="postgresql://postgres.ltncckdqyonuywahwjko:ECENb8*Qq47fPvQ@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"
